.popular-section {
  padding: 30px 0;
  background-color: #111111;
  &__subtitle {
    margin-top: 70px;
    text-align: center;
    text-transform: uppercase;
    color: #9F9F9F;
    font-size: 16px;
  }
  &__title_position {
    margin-top: 10px;
    text-align: center;
  }
}

.asd {
  width: 50vw;
  height: 50vh;
  background-color: #FDC437;
}
