
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-odnoklassniki:before { content: '\f30c'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */