.feature-card {
  padding: 20px;
  margin-top: 30px;
  height: 300px;
  border: rgba(0,0,0, 0) 2px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0, 0.8);

  &__title {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 24px;
  }

  &__btn {
    color: #FFCE1C;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    width: 85%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: #FFCE1C 1px solid;
    border-radius: 30px;
    &:hover {
      background-color: #FFCE1C;
      color: #212529;
    }
  }
}


@media (max-width: 1024px) {
  .feature-card {
    padding: 20px;
    margin: 30px 0;
    &__title {
      font-size: 14px;
    }
    &__img {
      height: 60px;
    }
    &__btn {
      font-size: 14px;
    }
  }
}